.authButtons {
  display: flex;
  justify-content: center;
}

.authButtons > button {
  margin: 1vw;
}

.title {
  text-align: center;
  font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
}
.description {
  text-align: center;
}

.principles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2vw;
  padding: 2vw;
}

.principleTitle {
  text-align: center;
}
